/* CSS reset */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* End of CSS reset */

/* Font options */

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url('fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* Super Modern Browsers */ url('fonts/open-sans-v15-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/open-sans-v15-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('fonts/open-sans-v15-latin-regular.svg#OpenSans')
      format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Carter One';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url('fonts/carter-one-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Carter One'), local('CarterOne'),
    url('fonts/carter-one-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* Super Modern Browsers */ url('fonts/carter-one-v10-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/carter-one-v10-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('fonts/carter-one-v10-latin-regular.svg#CarterOne')
      format('svg'); /* Legacy iOS */
}

/* End of font options */

/* Shared styles */

* {
  outline: 1px solid green; /* For testing purpose. Will be removed before deployment. */
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  background-color: #f7f7f7;
}

body {
  position: relative;
  min-height: 100vh;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

/* Style <header> */

header {
  position: fixed;
  z-index: 9;
  top: 0;
  width: 100%;
  height: 80px;
  transition: 0.4s;
  background-color: #fff;
}

.navbar {
  display: flex;
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  transition: 0.4s;
  align-items: center;
}

.navbar > div:first-child {
  margin-left: 80px;
}

.navbar > div:last-child {
  margin-right: 30px;
}

.navbar-logo {
  font-family: 'Carter One', sans-serif;
  font-size: 2.6rem;
  user-select: none;
}

.navbar-logo-bg {
  letter-spacing: 1.2px;
}

.navbar-logo-sm {
  font-size: 3.6rem;
}

.search {
  display: flex;
  max-width: 600px;
  height: 44px;
  margin-left: 88px;
  transition: 0.4s;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  flex: 1 1 auto;
  justify-content: space-between;
}

.search > * {
  position: relative;
  height: 44px;
  padding: 0;
  border: none;
  outline: 0;
  background: transparent;
}

.search-input {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  outline: 2px solid pink; /* For testing purpose. Will be removed before deployment. */
  top: -1px;
  width: 90%;
  margin-left: 18px;
  transition: 0.4s;
}

.search > button {
  top: 1px;
  margin-right: 7px;
  padding-left: 5px;
  padding-right: 5px;
  outline: 2px solid pink; /* For testing purpose. Will be removed before deployment. */
}

/* Style <div id="content-container"> */

#content-container {
  padding-top: 80px;
  padding-bottom: 100px;
}

/* Style <div class="instruction"> */

.instruction {
  max-width: 760px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.instruction > * {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  padding: 20px 5px;
}

.instruction > p {
  font-size: 1.6rem;
  line-height: 1.4;
  height: 70px;
  padding-right: 6px;
  padding-left: 13px;
  text-align: left;
  color: #323232;
}

.instruction > p.prompt-color {
  color: #604c8d;
}

.instruction > p.short {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

/* Style <div class="gallery-container"> */

.gallery-container {
  display: -ms-grid;
  display: grid;
  max-width: 955px;
  margin: 0 auto;
  padding: 10px;
  -ms-grid-columns: 1fr 25px 1fr 25px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  justify-items: center;
  -ms-grid-rows: auto 25px auto 25px auto;
  grid-template-areas:
    'a b c'
    'd e f'
    'g h i';
}

.cell-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.cell-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: b;
}

.cell-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: c;
}

.cell-4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: d;
}

.cell-5 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: e;
}

.cell-6 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: f;
}

.cell-7 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: g;
}

.cell-8 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: h;
}

.cell-9 {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: i;
}

.gallery-item {
  width: 295px;
  height: 295px;
  background: linear-gradient(to bottom, #ece9e6, #fff);
}

.gallery-item-ie {
  position: relative;
  overflow: hidden;
  width: 295px;
  height: 295px;
  background: linear-gradient(to bottom, #ece9e6, #fff);
}

.gallery-item > img {
  width: 295px;
  height: 295px;
  object-fit: cover;
  cursor: pointer;
}

.gallery-item-ie > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  cursor: pointer;
}

/* Style <div class="modal"> */
.modal.no-display {
  display: none;
}

.modal {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.close {
  font-size: 3.6rem;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  padding-right: 18px;
  padding-left: 5px;
  cursor: pointer;
  user-select: none;
  color: #fff;
}

.slideshow {
  position: relative;
  display: flex;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 0;
  align-items: center;
}

.slide {
  position: relative;
  display: none;
  margin: auto;
  cursor: pointer;
}

.slide.active {
  display: flex;
  align-items: center;
}

.slide-img {
  display: block;
  max-width: 100%;
  max-height: 90vh;
  margin: 0 auto;
  object-fit: contain;
}

.slide-img-ie {
  display: block;
  width: 100%;
  max-height: 90vh;
  margin: 0 auto;
}

.overlay {
  font-size: 1.4rem;
  position: absolute;
  bottom: 0;
  left: 0; /* For IE */
  width: 100%;
  padding: 20px;
  transition: 0.5s ease;
  text-align: center;
  letter-spacing: 0.6px;
  opacity: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.slide:hover .overlay {
  opacity: 1;
}

.prev,
.next {
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(0, -50%);
  padding: 7px;
  color: #fff;
  transition: 0.6s ease;
  user-select: none;
  cursor: pointer;
}

.prev {
  left: 4%;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 4%;
  border-radius: 3px 0 0 3px;
}

/* Style <div class="easter-egg"> */

.easter-egg {
  margin-top: 20px;
  margin-bottom: 30px;
}

.easter-egg > button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  display: flex;
  height: 36px;
  margin: 0 auto;
  padding: 5px 20px;
  color: #323232;
  border: 1px solid #fff;
  outline: 0;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(32, 33, 36, 0.28);
}

.easter-egg > p {
  font-size: 1.4rem;
  line-height: 36px;
  height: 36px;
  padding-right: 6px;
  padding-left: 6px;
  text-align: center;
}

/* Style <footer> */

footer {
  font-size: 1.4rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 40px 20px 40px;
  text-align: center;
  background-color: #fff;
}

/* Make the web page responsive */

@media (min-width: 576px) {
  .navbar-logo-sm {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .navbar > div:first-child {
    margin-left: 30px;
  }

  .search {
    margin-left: 30px;
  }

  .gallery-item {
    width: 100%;
    height: 100%;
    min-height: 200px;
  }

  .gallery-item-ie {
    width: 100%;
    height: 100%;
    min-height: 200px;
  }

  .gallery-container {
    grid-gap: 5px;
    -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
    -ms-grid-rows: auto 5px auto 5px auto;
  }

  .gallery-item > img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 730px) {
  .easter-egg > p {
    line-height: normal;
  }
}

@media (max-width: 575.98px) {
  .navbar-logo-bg {
    display: none;
  }

  h1 {
    font-size: 2.6rem;
  }

  .instruction > p {
    font-size: 1.4rem;
  }

  .search-input {
    font-size: 1.4rem;
    margin-left: 10px;
  }

  .gallery-container {
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto 5px auto 5px auto 5px auto 5px auto 5px auto 5px auto 5px auto 5px auto;
    grid-template-columns: 1fr;
    grid-template-areas: 'a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i';
  }

  .cell-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .cell-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .cell-3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .cell-4 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }

  .cell-5 {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }

  .cell-6 {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }

  .cell-7 {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }

  .cell-8 {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
  }

  .cell-9 {
    -ms-grid-row: 17;
    -ms-grid-column: 1;
  }

  .prev {
    left: 2%;
    padding: 1px;
  }

  .next {
    right: 2%;
    padding: 1px;
  }

  .overlay {
    font-size: 1.2rem;
    padding: 10px;
  }

  .easter-egg > button {
    font-size: 1.4rem;
    height: 30px;
  }

  .easter-egg > p {
    font-size: 1.2rem;
    height: 30px;
  }

  footer {
    font-size: 1.2rem;
  }
}

@media (max-width: 319.98px) {
  html {
    font-size: 8px;
  }
}
